*{
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    
}
.alert{
    height: 5rem;
    width: 50rem;
    background-color: white;
    border-radius: 5px;
    margin: 3rem;
    color: black;
    
    padding: 5px;
}
.msg{
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}
.alert-success{
    background-color: #A8E890;
}
.alert-error{
    background-color: #FA9494;
}
.alert-info{
    background-color: #5F9DF7;
}
.alert-warning{
    background-color: #FDFDBD;
}
.alert-heading{
    margin: 1rem;
    font-size: 2rem;
}
.button{
    height: 4rem;
    width: 15rem;
    border-radius: 10px;
    margin: 2rem;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
}
.button-learn{
    background-color: #89CFFD;
}
.button-download{
    background-color: #E64848;
}
.button-read{
    background-color: #AFB4FF;
}
.button-follow{
    background-color: #FFB4B4;
}
.button-about{
    background-color: #7A86B6;
}
.button:hover{
    color: whitesmoke;
    border: 2px solid wheat;
}


.card{
    background-color: #EAEAEA;
    border: 2px solid black;
    border-radius: 10px;
    height: 15rem;
    width: 30rem;
    margin: 30px;
    padding: 40px;
    color: black;
    font-size: 1.2rem;
}
.card_one{
    display: flex;
}
.card_four ,.card_five{
    height: 30rem;
    width: 15rem;
    
}
.navbar{
    height: 3rem;
    list-style-type: none;
    background-color: white;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.linkbadges{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    
}
.badge{
    height: 30px;
    width: 80px;
    background-color: blue;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 10px;
}
.btxt{
    text-decoration: none;
    color: black;
    padding: 4px;
}
.badge-primary{
    background-color: #7DE5ED;
}
.badge-secondary{
    background-color: #B2B2B2;
}
.badge-success{
    background-color: #A8E890;
}
.badge-error{
    background-color: #FA9494;
}
.badge-info{
    background-color: #5F9DF7;
}
.badge-warning{
    background-color: #FDFDBD;
}
.pillbadges{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.pbadge{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    padding: 5px;
    margin: 15px;
}
.cbadge{
    height: 40px;
    width: 130px;
    background-color: #5F9DF7;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 60px;
    margin-top: 20px;
}
.count{
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 5px;
}
.heading{
    margin-left: 40px;
    padding: 5px;
}
.h_two{
    text-decoration: underline;
    color: #50577A;
}
.h_three{
    font-style: italic;
    color: #8D9EFF;
}

.only_img{
    background-color: #F1F1F1;
    height: 10vh;
    width: 100vw;
}
.imgwithtxt{
    background-color: #F1F1F1;
    height: 10vh;
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.navlogo{
    border-radius: 50%;
    margin-left: 40px;
    padding: 5px;
}
.nav-txt{
    margin-top: 20px;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}
.only_links{
    background-color: #F1F1F1;
    height: 10vh;
    width: 100vw;
    margin-top: 20px;
}
.nav_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    
}
.oln{
    text-decoration: none;
    padding: 20px;
    color: black;
    font-weight: 300;
}
.oln:hover{
    text-decoration: underline;
    font-weight: 600;
}
.search{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    position:relative;
    top: -40px;
    left: 950px;
}
.search_bar{
    height: 30px;
    width: 10vw;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.search_button{
    height: 30px;
    width: 6vw;
    border-radius: 10px;
    margin-left: 30px;
    color: black;
    background-color: #59CE8F;
    border: none;
}
.search_button:hover{
    font-weight: 600;
}

.choose{
    height: 30px;
    border-radius: 5px;
    margin-top: -5px;
    border: 2px solid black;
}


.sp_one::before{
   content: "";
   box-sizing: border-box;
   position: absolute;
   top: 10%;
   left: 10%;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border: 5px solid gray;
   border-top-color:black ;
   animation: spin 1s linear infinite;
}
  
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.sp_two::before{
    content: "";
   box-sizing: border-box;
   position: absolute;
   margin-left: 100px;
   height: 40px;
   width: 40px;
   border-radius: 70%;
   border: 5px solid transparent;
   border-top-color:black ;
   animation: spin 1s ease infinite;
}
.sp_three::before{
    border-bottom-color:black;
}
.sp_four::before{
    animation: spinner 1s linear infinite;
}
@keyframes spinner{
    to{
        transform: rotate(700deg);
    }
}


/* pills */

.basicpill{
    height: 35px;
    width: 80px;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}
.bp_one{
    background-color: #8D9EFF;
}
.bp_two{
    background-color: #FD841F;
}
.bp_three{
    background-color: #9E7676;
}
.bp_four{
    background-color: #FF8787;
}
.brp_one{
    border: 2px solid black;
    background-color: transparent;
    color: black;
}
.brp_two{
    border: 2px solid #224B0C;
    background-color: transparent;
    color: #224B0C;
}
.brp_three{
    border: 2px solid #2192FF;
    background-color: transparent;
    color: #2192FF;
}
.brp_four{
    border: 2px solid #FF1E1E;
    background-color: transparent;
    color: #FF1E1E;
}

.thick{
    border-width: 4px;
}
.thin{
    border-width: 1px;
}

.circular{
    border-radius: 50%;
    margin-left: 20px;
}
.square{
    margin-left: 30px;
    border-radius: 20px;
}

/* Avatar */
.p_avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    position: relative;
    margin-left:40px ;
}
.phead{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    top: 15px;
    left: 30px;
}
.pbody{
    height: 20px;
    width: 50px;
    border-radius: 50% 50% 0% 0%;
    border: 5px solid black;
    position: absolute;
    top: 53px;
    left: 20px;
}
.pic{
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}





@media (max-width:480px){
    .alert{
        height: 80px;
        width: 370px;
        margin-left: 5px;
    }

    .card{
        width: 250px;
    }
    .card_one{
        height: 290px;
        overflow: hidden;
        /* display: flex;
        flex-wrap: wrap; */
    }
    .card_two{
        height: 500px;
    }
    .card_three{
        height: 300px;
    }
    .card_img{
        height: 150px;
        width: 150px;
    }
    .only_list{
        display: flex;
        flex-wrap: wrap;
    }
    .search{
        position:relative;
    top: -20px;
    left: 20px;
    }
    .search_bar{
        width: 100px;
    }
    .search_button{
        width: 60px;
        margin-left: 3px;
    }
    .basicpill{
        margin-top: 20px;
    }
}